@import "tailwindcss";

:root {
  --primary: #0099ff;
  --primary-dark: #0077cc;
  --primary-light: #00c3ff;
  --secondary: #ff6b35;
  --text: #ffffff;
  --text-main: #121212;
  --text-secondary: #555555;
  --bg-main: #ffffff;
  --bg-card: #f5f5f5;
  --bg-dark: #050505;
  --bg-darker: #000000;
  --border-color: #e0e0e0;
  --glass-bg: rgba(0, 0, 0, 0.05);
  --btn-bg: #f0f0f0;
  --btn-text: #000;
  --accent: #fbbf24;
}

/* Modo Escuro */
body.dark-mode,
html.dark {
  --bg-main: #000000;
  --bg-card: #0c0c0c;
  --text-main: #ffffff;
  --text-secondary: #bdbdbd;
  --border-color: #333333;
  --glass-bg: rgba(255, 255, 255, 0.05);
  --btn-bg: #222222;
  --btn-text: #ffffff;
}

@keyframes blob {
	0% {
		transform: translate(0px, 0px) scale(1);
	}
	33% {
		transform: translate(30px, -50px) scale(1.1);
	}
	66% {
		transform: translate(-20px, 20px) scale(0.9);
	}
	100% {
		transform: translate(0px, 0px) scale(1);
	}
}

.animate-blob {
	animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}