:root {
  --bg-main: #000000;
  --bg-card: #0c0c0c;
  --primary: #0099ff;
  --primary-light: #00c3ff;
  --text-main: #ffffff;
  --text-muted: #bdbdbd;
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'Segoe UI', Arial, sans-serif;
}
